exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.new", "rgb")
importFrom("graphics", "box", "legend", "lines", "par", 
    "plot", "rect", "abline")
importFrom("stats", "setNames", "window")
importFrom("utils", "read.table")
